flows.json
[
    {
        "id": "2fb70b068f7465ba",
        "type": "tab",
        "label": "Debug",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b06b7807aa3c1849",
        "type": "tab",
        "label": "RFID ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "763fbf34fa859df2",
        "type": "tab",
        "label": "Connector 1 ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a56dcb9bfdbf8a45",
        "type": "tab",
        "label": "Connector 2 ",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1fc0485730ba73a5",
        "type": "group",
        "z": "a56dcb9bfdbf8a45",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "627c5bbb1618885b"
        ],
        "x": 1114,
        "y": 439,
        "w": 152,
        "h": 82
    },
    {
        "id": "2ee18ba9f93137ce",
        "type": "group",
        "z": "763fbf34fa859df2",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "40485fea252a8c7f"
        ],
        "x": 1074,
        "y": 419
    },
    {
        "id": "f6188308f3c95aaa",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fc8686af.48d178",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "188acf5b321aefdb",
        "type": "mqtt-broker",
        "name": "Charger-Everest",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7140803fb3989089",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "EVerest",
                "default": "#4B7930",
                "baseColor": "#2a62ac",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#2a62ac",
                    "value": "#2a62ac",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2a62ac",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#4f88d4",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2a62ac",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "EVerest",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 6,
                "py": 6
            }
        }
    },
    {
        "id": "84ddb762.5129f8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "427a83e7f6d33afc",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "50c487c1.27e508",
        "type": "ui_tab",
        "name": "Debug",
        "icon": "fa-fire",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d3ada9fa4cf6ac53",
        "type": "ui_tab",
        "name": "Home-EVSE-Manager",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3c7214a9dd24b0ad",
        "type": "ui_tab",
        "name": "EVSE Configuration",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5e36140d.127f1c",
        "type": "ui_group",
        "name": "PowerMeter",
        "tab": "50c487c1.27e508",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebbb0e3f.53fbf",
        "type": "ui_group",
        "name": "Actions",
        "tab": "50c487c1.27e508",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1709edaf.162962",
        "type": "ui_group",
        "name": "Debug",
        "tab": "50c487c1.27e508",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8d6f402b.8f007",
        "type": "ui_group",
        "name": "KeepAlive",
        "tab": "50c487c1.27e508",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1ebee360.265b5d",
        "type": "ui_group",
        "name": "PowerMeter",
        "tab": "50c487c1.27e508",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d3f19d5c.593e5",
        "type": "ui_group",
        "name": "State",
        "tab": "50c487c1.27e508",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "b364f7eb4621082b",
        "type": "ui_group",
        "name": "Charger AC (1)",
        "tab": "d3ada9fa4cf6ac53",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7cd2ccabb1265f7a",
        "type": "ui_group",
        "name": "RFID",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "21e40a4a97a50168",
        "type": "ui_group",
        "name": "Charger AC (2) ",
        "tab": "d3ada9fa4cf6ac53",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d069d652eb3a589d",
        "type": "ui_group",
        "name": "Charger DC (3) - Unidirectional",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d2223c2c6e5b2630",
        "type": "ui_group",
        "name": "DC-Charger (4) Unidirectional",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5f89e7e8da7ec9dd",
        "type": "ui_group",
        "name": "DC-Charger (5) Bidirectional",
        "tab": "d3ada9fa4cf6ac53",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "64816d780bc4b5df",
        "type": "ui_spacer",
        "z": "2fb70b068f7465ba",
        "name": "spacer",
        "group": "27651fee38a05406",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "1a4ff2b45700fd1d",
        "type": "ui_spacer",
        "z": "2fb70b068f7465ba",
        "name": "spacer",
        "group": "27651fee38a05406",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "71831e2d6d2fcae2",
        "type": "ui_spacer",
        "z": "2fb70b068f7465ba",
        "name": "spacer",
        "group": "",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "662e7bf1fd0c12f6",
        "type": "ui_spacer",
        "z": "2fb70b068f7465ba",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": "6",
        "height": "1"
    },
    {
        "id": "ce645f99.d179",
        "type": "mqtt-broker",
        "name": "Charger Simulator (SCHNEIDER ELECTRIC)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "13e689d2.f305c6",
        "type": "mqtt-broker",
        "name": "EASTRON SDM 230 TB",
        "broker": "18.141.229.207",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "895f008.79e97",
        "type": "mqtt-broker",
        "name": "Eastron Aws TB",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "691c97b7.ebc338",
        "type": "mqtt-broker",
        "name": "SHELLY 3EM 1 D9E",
        "broker": "10.0.36.48",
        "port": "2000",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1e6d6f5099ded609",
        "type": "mqtt-broker",
        "name": "Exicom Three Phase",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "616201add3d25f04",
        "type": "mqtt-broker",
        "name": "Exicom Single Phase",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d2387ace892b3fa3",
        "type": "mqtt-broker",
        "name": "GCP",
        "broker": "35.240.176.29",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "898d4a6f508dc31f",
        "type": "mqtt-broker",
        "name": "Charger Simulator (OVOMALTIN)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "95851ceb1ef6eed5",
        "type": "mqtt-broker",
        "name": "Smart Meter 3",
        "broker": "https://demo.thingsboard.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a9fb7e6a1249c1bb",
        "type": "mqtt-broker",
        "name": "Smart Meter 2",
        "broker": "https://demo.thingsboard.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c3554c694b973440",
        "type": "mqtt-broker",
        "name": "Smart Meter 1",
        "broker": "https://demo.thingsboard.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "501a75fb37a4e704",
        "type": "mqtt-broker",
        "name": "Smart Meter 4",
        "broker": "https://demo.thingsboard.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8f06b282421e2597",
        "type": "mqtt-broker",
        "name": "Smart Meter 5",
        "broker": "https://demo.thingsboard.io/",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e99a4efeb58adccf",
        "type": "mqtt-broker",
        "name": "BMS",
        "broker": "18.141.229.207",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "72b1a4dc.4f488c",
        "type": "ui_tab",
        "name": "Modbus",
        "icon": "memory",
        "order": 15
    },
    {
        "id": "2c2fdfeb.fe41e",
        "type": "ui_group",
        "name": "SDM120 Energy Meter",
        "tab": "72b1a4dc.4f488c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "176c70d0fdde3b12",
        "type": "mqtt-broker",
        "name": "Battery-Charge-Controller",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "80cd508e47fe9b06",
        "type": "mqtt-broker",
        "name": "Switch",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "767c9c0cfad7e2e6",
        "type": "mqtt-broker",
        "name": "Charger Simulator (OC)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "41a20cdc02364816",
        "type": "mqtt-broker",
        "name": "Charger Simulator (SIEMENS)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af9ce98ee1de8b78",
        "type": "mqtt-broker",
        "name": "Eastron Best Lab",
        "broker": "demo.thingsboard.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6303c3fe982c0dc4",
        "type": "mqtt-broker",
        "name": "AWS_TB",
        "broker": "13.212.96.166",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b2258a744ad52190",
        "type": "mqtt-broker",
        "name": "GCP",
        "broker": "35.240.176.29",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "68295a66871c82c1",
        "type": "mqtt-broker",
        "name": "Charger Simulator (ABB)",
        "broker": "10.0.36.71",
        "port": "1890",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "088057997cec132e",
        "type": "mqtt-broker",
        "name": "AWS",
        "broker": "13.212.96.166",
        "port": "9070",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1f18cdae28ead7ac",
        "type": "mqtt in",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/powermeter/vrmsL1",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 100,
        "wires": [
            [
                "0770434390241ed3"
            ]
        ]
    },
    {
        "id": "8ff2ea62dd1b7dad",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/enable",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 500,
        "y": 440,
        "wires": []
    },
    {
        "id": "618ea832135ea662",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/disable",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "b120f136bb8502ff",
        "type": "switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 280,
        "y": 460,
        "wires": [
            [
                "8ff2ea62dd1b7dad"
            ],
            [
                "618ea832135ea662"
            ]
        ]
    },
    {
        "id": "d0775e09370b97f0",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/set_three_phases",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 370,
        "y": 540,
        "wires": []
    },
    {
        "id": "91b0f52d73e5bf5e",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/enable_rcd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 350,
        "y": 600,
        "wires": []
    },
    {
        "id": "3b07843761c9df7a",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/set_has_ventilation",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 420,
        "y": 660,
        "wires": []
    },
    {
        "id": "25d7b96231f0cb01",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/set_auth",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "8f07aefef5febc82",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/switch_three_phases_while_charging",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 530,
        "y": 720,
        "wires": []
    },
    {
        "id": "eee28827d7da50b8",
        "type": "mqtt in",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/debug_json",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 960,
        "wires": [
            [
                "69932dab0cf87ada"
            ]
        ]
    },
    {
        "id": "69932dab0cf87ada",
        "type": "json",
        "z": "2fb70b068f7465ba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 960,
        "wires": [
            [
                "f9fdfc5cf77fbaaa",
                "f341d7a8370410dc"
            ]
        ]
    },
    {
        "id": "f9fdfc5cf77fbaaa",
        "type": "function",
        "z": "2fb70b068f7465ba",
        "name": "",
        "func": "var json = msg.payload;\n\n\n//tab[top] = {'Variable' : top, 'Value' : pay};\n\n\nnewpayload = [];\nfor(var index in json) {\n    newpayload.push({'Variable' : index, 'Value' : json[index]});\n}\n\nmsg.payload = newpayload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 960,
        "wires": [
            [
                "3145b24e5563c97b"
            ]
        ]
    },
    {
        "id": "8b93eb36609b7790",
        "type": "mqtt in",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/keepalive_json",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1140,
        "wires": [
            [
                "fcdc0761592390ca"
            ]
        ]
    },
    {
        "id": "fcdc0761592390ca",
        "type": "json",
        "z": "2fb70b068f7465ba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 350,
        "y": 1140,
        "wires": [
            [
                "9c52b60168a5efe0",
                "228eb43459107ff5"
            ]
        ]
    },
    {
        "id": "9c52b60168a5efe0",
        "type": "function",
        "z": "2fb70b068f7465ba",
        "name": "",
        "func": "var json = msg.payload;\n\n\n//tab[top] = {'Variable' : top, 'Value' : pay};\n\n\nnewpayload = [];\nfor(var index in json) {\n    newpayload.push({'Variable' : index, 'Value' : json[index]});\n}\n\nmsg.payload = newpayload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 1140,
        "wires": [
            [
                "1a897f0bdee36739"
            ]
        ]
    },
    {
        "id": "58b23dd46c2d42df",
        "type": "mqtt in",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/powermeter_json",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "1cf2619365633857"
            ]
        ]
    },
    {
        "id": "1cf2619365633857",
        "type": "json",
        "z": "2fb70b068f7465ba",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 1200,
        "wires": [
            [
                "fbdfc575accf5d15",
                "1d8a0c47a56189ef"
            ]
        ]
    },
    {
        "id": "fbdfc575accf5d15",
        "type": "function",
        "z": "2fb70b068f7465ba",
        "name": "",
        "func": "var json = msg.payload;\n\n\n//tab[top] = {'Variable' : top, 'Value' : pay};\n\n\nnewpayload = [];\nfor(var index in json) {\n    newpayload.push({'Variable' : index, 'Value' : json[index]});\n}\n\nmsg.payload = newpayload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1200,
        "wires": [
            [
                "04398de8a3f9ef51"
            ]
        ]
    },
    {
        "id": "93c8ec7353fd4c4a",
        "type": "mqtt in",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/state/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "5d481ce95eb14371",
                "d7c2b774426b2e19"
            ]
        ]
    },
    {
        "id": "5d481ce95eb14371",
        "type": "function",
        "z": "2fb70b068f7465ba",
        "name": "",
        "func": "let cur_topic_index = -1;\nlet topics_list_length = 0;\n\nvar topics_list = global.get(\"state_topics_list\");\nvar payload_list = global.get(\"state_payload_list\");\nvar new_payload = [];\n\nfor (var topics_list_index in topics_list) {\n    if ( (topics_list[topics_list_index].indexOf(msg.topic) >= 0) && (topics_list[topics_list_index].length == msg.topic.length) ) {\n        cur_topic_index = topics_list_index;\n        break;\n    }\n    topics_list_length++;\n}\n\nif (cur_topic_index > -1) {\n    payload_list[cur_topic_index] = msg.payload;\n} else {\n    topics_list.push(msg.topic);\n    payload_list.push(msg.payload);\n}\n\nglobal.set(\"state_topics_list\", topics_list);\nglobal.set(\"state_payload_list\", payload_list);\n\n\nfor (var index in payload_list) {\n    new_payload.push({'Variable': topics_list[index].substr(16, topics_list[index].length), 'Value': payload_list[index]});\n}\n\nmsg.payload = new_payload;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"state_topics_list\", []);\nglobal.set(\"state_payload_list\", []);",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 1020,
        "wires": [
            [
                "edf7cbe51e94ebd7"
            ]
        ]
    },
    {
        "id": "fddec5e427d7599e",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/enable_hlc",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 350,
        "y": 780,
        "wires": []
    },
    {
        "id": "a9ad390b2ff8adf7",
        "type": "mqtt out",
        "z": "2fb70b068f7465ba",
        "name": "",
        "topic": "/external/cmd/enable_rcd",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 350,
        "y": 840,
        "wires": []
    },
    {
        "id": "31ce66894d725b37",
        "type": "comment",
        "z": "2fb70b068f7465ba",
        "name": "Debug",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "d7c2b774426b2e19",
        "type": "debug",
        "z": "2fb70b068f7465ba",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 1060,
        "wires": []
    },
    {
        "id": "f341d7a8370410dc",
        "type": "debug",
        "z": "2fb70b068f7465ba",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 920,
        "wires": []
    },
    {
        "id": "228eb43459107ff5",
        "type": "debug",
        "z": "2fb70b068f7465ba",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1100,
        "wires": []
    },
    {
        "id": "1d8a0c47a56189ef",
        "type": "debug",
        "z": "2fb70b068f7465ba",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7018df5725b510dd",
        "type": "ui_button",
        "z": "2fb70b068f7465ba",
        "name": "",
        "group": "ebbb0e3f.53fbf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "setAuth(USERID)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "USERID",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "25d7b96231f0cb01"
            ]
        ]
    },
    {
        "id": "dce50f72d04010d8",
        "type": "ui_switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "label": "Enabled",
        "tooltip": "",
        "group": "ebbb0e3f.53fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 120,
        "y": 460,
        "wires": [
            [
                "b120f136bb8502ff"
            ]
        ]
    },
    {
        "id": "d8680455213a78c8",
        "type": "ui_switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "label": "setThreePhases",
        "tooltip": "",
        "group": "ebbb0e3f.53fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 540,
        "wires": [
            [
                "d0775e09370b97f0"
            ]
        ]
    },
    {
        "id": "77c659cf8bfc491b",
        "type": "ui_switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "label": "enableRCD",
        "tooltip": "",
        "group": "ebbb0e3f.53fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "91b0f52d73e5bf5e"
            ]
        ]
    },
    {
        "id": "6eeae883dedcd07d",
        "type": "ui_switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "label": "setHasVentilation",
        "tooltip": "",
        "group": "ebbb0e3f.53fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 150,
        "y": 660,
        "wires": [
            [
                "3b07843761c9df7a"
            ]
        ]
    },
    {
        "id": "e4c1d8b7486f18e3",
        "type": "ui_switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "label": "switch3phWhileCharging",
        "tooltip": "",
        "group": "ebbb0e3f.53fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 170,
        "y": 720,
        "wires": [
            [
                "8f07aefef5febc82"
            ]
        ]
    },
    {
        "id": "254efc0efc67dbbd",
        "type": "ui_switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "label": "enableHLC",
        "tooltip": "",
        "group": "ebbb0e3f.53fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "fddec5e427d7599e"
            ]
        ]
    },
    {
        "id": "1f76114f52e15a0e",
        "type": "ui_switch",
        "z": "2fb70b068f7465ba",
        "name": "",
        "label": "Simulation RCD",
        "tooltip": "",
        "group": "ebbb0e3f.53fbf",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 840,
        "wires": [
            [
                "a9ad390b2ff8adf7"
            ]
        ]
    },
    {
        "id": "0770434390241ed3",
        "type": "ui_chart",
        "z": "2fb70b068f7465ba",
        "name": "",
        "group": "5e36140d.127f1c",
        "order": 11,
        "width": 0,
        "height": 0,
        "label": "vrmsL1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "60",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 420,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "3145b24e5563c97b",
        "type": "ui_table",
        "z": "2fb70b068f7465ba",
        "group": "1709edaf.162962",
        "name": "Debug",
        "order": 12,
        "width": "6",
        "height": "11",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 680,
        "y": 960,
        "wires": []
    },
    {
        "id": "1a897f0bdee36739",
        "type": "ui_table",
        "z": "2fb70b068f7465ba",
        "group": "8d6f402b.8f007",
        "name": "KeepAlive",
        "order": 12,
        "width": "6",
        "height": "4",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 690,
        "y": 1140,
        "wires": []
    },
    {
        "id": "04398de8a3f9ef51",
        "type": "ui_table",
        "z": "2fb70b068f7465ba",
        "group": "1ebee360.265b5d",
        "name": "PowerMeter",
        "order": 12,
        "width": "6",
        "height": "11",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 710,
        "y": 1200,
        "wires": []
    },
    {
        "id": "edf7cbe51e94ebd7",
        "type": "ui_table",
        "z": "2fb70b068f7465ba",
        "group": "d3f19d5c.593e5",
        "name": "State",
        "order": 12,
        "width": "6",
        "height": "4",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d892e39c21da7755",
        "type": "mqtt out",
        "z": "b06b7807aa3c1849",
        "name": "",
        "topic": "everest_api/dummy_token_provider/cmd/provide",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 1000,
        "y": 120,
        "wires": []
    },
    {
        "id": "ea6924572a1790b4",
        "type": "debug",
        "z": "b06b7807aa3c1849",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "20ec224753d0da62",
        "type": "inject",
        "z": "b06b7807aa3c1849",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "id_token",
        "payload": "DEADBEEF",
        "payloadType": "str",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "f69695cbd85d11e7"
            ]
        ]
    },
    {
        "id": "bde399be89344af3",
        "type": "inject",
        "z": "b06b7807aa3c1849",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "token_type",
        "payload": "RFID",
        "payloadType": "str",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "b1a22c114ed44ad2"
            ]
        ]
    },
    {
        "id": "ad95e79efa972aea",
        "type": "inject",
        "z": "b06b7807aa3c1849",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "prevalidated",
        "payload": "false",
        "payloadType": "bool",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "bb74ce5e67062bc4"
            ]
        ]
    },
    {
        "id": "71574593790bda0a",
        "type": "function",
        "z": "b06b7807aa3c1849",
        "name": "Swipe token",
        "func": "if (msg.topic.indexOf('id_token') > -1) flow.set('id_token', msg.payload);\nif (msg.topic.indexOf('token_type') > -1) flow.set('token_type', msg.payload);\nif (msg.topic.indexOf('prevalidated') > -1) flow.set('prevalidated', msg.payload);\nif (msg.topic.indexOf('connectors') > -1) flow.set('connectors', msg.payload);\nif (msg.topic.indexOf('complete') > -1) {\n    msg.payload = {\n        'id_token': flow.get('id_token'),\n        'authorization_type': flow.get('token_type'),\n        'prevalidated': flow.get('prevalidated'),\n        'connectors': [flow.get('connectors')]\n    };\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 160,
        "wires": [
            [
                "ea6924572a1790b4",
                "d892e39c21da7755"
            ]
        ]
    },
    {
        "id": "314adfdcaf803c93",
        "type": "inject",
        "z": "b06b7807aa3c1849",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "connectors",
        "payload": "1",
        "payloadType": "num",
        "x": 150,
        "y": 300,
        "wires": [
            [
                "cfddb01f4190ebc6"
            ]
        ]
    },
    {
        "id": "cfddb01f4190ebc6",
        "type": "ui_numeric",
        "z": "b06b7807aa3c1849",
        "name": "",
        "label": "connectors",
        "tooltip": "",
        "group": "7cd2ccabb1265f7a",
        "order": 0,
        "width": "0",
        "height": "0",
        "wrap": false,
        "passthru": true,
        "topic": "connectors",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "1",
        "max": 10,
        "step": 1,
        "x": 410,
        "y": 300,
        "wires": [
            [
                "71574593790bda0a"
            ]
        ]
    },
    {
        "id": "b1a22c114ed44ad2",
        "type": "ui_text_input",
        "z": "b06b7807aa3c1849",
        "name": "",
        "label": "type (2-32)",
        "tooltip": "",
        "group": "7cd2ccabb1265f7a",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "token_type",
        "topicType": "str",
        "x": 410,
        "y": 160,
        "wires": [
            [
                "71574593790bda0a"
            ]
        ]
    },
    {
        "id": "87eb4e5d33e874e3",
        "type": "ui_button",
        "z": "b06b7807aa3c1849",
        "name": "",
        "group": "7cd2ccabb1265f7a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Swipe RFID",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "complete",
        "topicType": "str",
        "x": 410,
        "y": 380,
        "wires": [
            [
                "71574593790bda0a"
            ]
        ]
    },
    {
        "id": "f69695cbd85d11e7",
        "type": "ui_dropdown",
        "z": "b06b7807aa3c1849",
        "name": "",
        "label": "id_token",
        "tooltip": "",
        "place": "Select option",
        "group": "7cd2ccabb1265f7a",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "DEADBEEF",
                "value": "DEADBEEF",
                "type": "str"
            },
            {
                "label": "ABC12345",
                "value": "ABC12345",
                "type": "str"
            },
            {
                "label": "VIDAABBCCDDEEFF",
                "value": "VIDAABBCCDDEEFF",
                "type": "str"
            },
            {
                "label": "E44CA8C7",
                "value": "E44CA8C7",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "id_token",
        "topicType": "str",
        "className": "",
        "x": 410,
        "y": 100,
        "wires": [
            [
                "71574593790bda0a"
            ]
        ]
    },
    {
        "id": "bb74ce5e67062bc4",
        "type": "ui_switch",
        "z": "b06b7807aa3c1849",
        "name": "",
        "label": "prevalidated",
        "tooltip": "",
        "group": "7cd2ccabb1265f7a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "prevalidated",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "71574593790bda0a"
            ]
        ]
    },
    {
        "id": "6a58c52b29ccf453",
        "type": "comment",
        "z": "763fbf34fa859df2",
        "name": "Initialize the Connector number",
        "info": "",
        "x": 190,
        "y": 60,
        "wires": []
    },
    {
        "id": "7c4f637afcd3fa7a",
        "type": "change",
        "z": "763fbf34fa859df2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connector_number",
                "pt": "flow",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f2228cb069818b12",
        "type": "inject",
        "z": "763fbf34fa859df2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "7c4f637afcd3fa7a"
            ]
        ]
    },
    {
        "id": "8b641f0b9b466699",
        "type": "comment",
        "z": "763fbf34fa859df2",
        "name": "Data to show",
        "info": "",
        "x": 130,
        "y": 180,
        "wires": []
    },
    {
        "id": "18cfcb52086960ee",
        "type": "mqtt out",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 850,
        "y": 800,
        "wires": []
    },
    {
        "id": "e70235890a84893a",
        "type": "change",
        "z": "763fbf34fa859df2",
        "name": "Insert Connector number",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "connector_number",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "18cfcb52086960ee"
            ]
        ]
    },
    {
        "id": "38934c2244a34ad4",
        "type": "comment",
        "z": "763fbf34fa859df2",
        "name": "Commands",
        "info": "",
        "x": 130,
        "y": 620,
        "wires": []
    },
    {
        "id": "0c587f2002116498",
        "type": "mqtt in",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_current",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "fdc9312d80780f3b"
            ]
        ]
    },
    {
        "id": "fdc9312d80780f3b",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "5765d344c97be8bf"
            ]
        ]
    },
    {
        "id": "e4ab918f35445d8b",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 320,
        "wires": [
            [
                "143933915a4622e2"
            ]
        ]
    },
    {
        "id": "3d8c4a9b0ebdedfc",
        "type": "mqtt in",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKWattHr",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "e4ab918f35445d8b"
            ]
        ]
    },
    {
        "id": "5e2b463fa32e0957",
        "type": "mqtt in",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "everest_external/nodered/+/state/state_string",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 420,
        "wires": [
            [
                "997d1c5b65e33ff0"
            ]
        ]
    },
    {
        "id": "05e80266b34a463b",
        "type": "mqtt in",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKw",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 480,
        "wires": [
            [
                "2e5bac5a4fc462fd"
            ]
        ]
    },
    {
        "id": "25fd63768d110a8f",
        "type": "mqtt in",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "everest_external/nodered/+/state/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 540,
        "wires": [
            [
                "2da1e1d6950ccb09"
            ]
        ]
    },
    {
        "id": "9377a5b3b00da143",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "",
        "func": "if (msg.topic.indexOf('totalKw')>=0) {\n    context.data.totalKw = msg.payload;\n}\nelse if (msg.topic.indexOf('state_string')>=0) {\n    context.data.state_string = msg.payload;\n}\n\n//node.warn(msg.topic);\nmsg.payload = context.data.totalKw;\nmsg.label = context.data.state_string;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.data = {}",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 460,
        "wires": [
            [
                "ad36f4c90ea117db",
                "40485fea252a8c7f",
                "a8e5f14737d9147d"
            ]
        ]
    },
    {
        "id": "ad36f4c90ea117db",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 360,
        "wires": []
    },
    {
        "id": "2e5bac5a4fc462fd",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 480,
        "wires": [
            [
                "9377a5b3b00da143"
            ]
        ]
    },
    {
        "id": "997d1c5b65e33ff0",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "9377a5b3b00da143"
            ]
        ]
    },
    {
        "id": "2da1e1d6950ccb09",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 540,
        "wires": [
            [
                "5397c0031ff5ea31"
            ]
        ]
    },
    {
        "id": "3695d0fe86e8686b",
        "type": "comment",
        "z": "763fbf34fa859df2",
        "name": "Simulation control",
        "info": "",
        "x": 150,
        "y": 800,
        "wires": []
    },
    {
        "id": "5ad1679fdc94147f",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "Buffer sim commands",
        "func": "if (msg.topic.indexOf('sim_commands') > -1) {\n    const s = msg.payload.split('#');\n    flow.set('sim_commands_start', s[0]);\n    flow.set('sim_commands_stop', s[1]);\n} else if (msg.payload == 'start') {\n    msg.payload = flow.get('sim_commands_start');\n    return msg;\n} else if (msg.payload == 'stop') {\n    msg.payload = flow.get('sim_commands_stop');\n    return msg;\n} else {\n    msg.payload = 'NONE';\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 940,
        "wires": [
            [
                "e70235890a84893a",
                "55a55da15ed08aa8",
                "664a8e860a62f97a"
            ]
        ]
    },
    {
        "id": "664a8e860a62f97a",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 900,
        "wires": []
    },
    {
        "id": "0e31acee1fcec231",
        "type": "inject",
        "z": "763fbf34fa859df2",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "sim_commands",
        "payload": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 16,3;sleep 36000#unplug",
        "payloadType": "str",
        "x": 110,
        "y": 1260,
        "wires": [
            [
                "5203ae43aa4ae4c0"
            ]
        ]
    },
    {
        "id": "55a55da15ed08aa8",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 940,
        "wires": []
    },
    {
        "id": "79f42e58ba8cf26b",
        "type": "mqtt in",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_watt",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "71c613c22374a431"
            ]
        ]
    },
    {
        "id": "71c613c22374a431",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 220,
        "wires": [
            [
                "f1b57c4bd4bde094"
            ]
        ]
    },
    {
        "id": "a8e5f14737d9147d",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 320,
        "wires": []
    },
    {
        "id": "b5c53eb190f411ef",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1000,
        "wires": []
    },
    {
        "id": "5726a1e3a1e73097",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 880,
        "wires": []
    },
    {
        "id": "102ac75080a84219",
        "type": "mqtt in",
        "z": "763fbf34fa859df2",
        "name": "",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f6188308f3c95aaa",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1080,
        "wires": [
            [
                "ae97ad24d4c6a68a"
            ]
        ]
    },
    {
        "id": "2cbf7c8fbfa13090",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "function 1",
        "func": "msg.payload = \"start\"\nmsg.topic = \"everest_external/nodered/#/carsim/cmd/execute_charging_session\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1080,
        "wires": [
            [
                "fd2489c0cdf88290"
            ]
        ]
    },
    {
        "id": "33c3568b97f69fe8",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 1120,
        "wires": []
    },
    {
        "id": "ae97ad24d4c6a68a",
        "type": "switch",
        "z": "763fbf34fa859df2",
        "name": "",
        "property": "payload.params",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 1080,
        "wires": [
            [
                "2cbf7c8fbfa13090"
            ],
            [
                "df8d2fc0ec16716e"
            ]
        ]
    },
    {
        "id": "fd2489c0cdf88290",
        "type": "debug",
        "z": "763fbf34fa859df2",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 1080,
        "wires": []
    },
    {
        "id": "df8d2fc0ec16716e",
        "type": "function",
        "z": "763fbf34fa859df2",
        "name": "function 2",
        "func": "msg.payload = \"stop\"\nmsg.topic = \"everest_external/nodered/#/carsim/cmd/execute_charging_session\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 1120,
        "wires": [
            [
                "33c3568b97f69fe8"
            ]
        ]
    },
    {
        "id": "0325e83e0025f849",
        "type": "ui_slider",
        "z": "763fbf34fa859df2",
        "name": "MaxWatt Slider",
        "label": "",
        "tooltip": "",
        "group": "b364f7eb4621082b",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_watt",
        "topicType": "str",
        "min": "0",
        "max": "10000",
        "step": "10",
        "className": "",
        "x": 400,
        "y": 620,
        "wires": [
            [
                "e70235890a84893a",
                "8cd894809b7fdbed"
            ]
        ]
    },
    {
        "id": "d837696fc80f6028",
        "type": "ui_slider",
        "z": "763fbf34fa859df2",
        "name": "MaxCurrent Slider",
        "label": "",
        "tooltip": "",
        "group": "b364f7eb4621082b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_current",
        "topicType": "str",
        "min": "0",
        "max": "32",
        "step": "0.1",
        "className": "",
        "x": 410,
        "y": 680,
        "wires": [
            [
                "17519da5b8e93cff",
                "e70235890a84893a"
            ]
        ]
    },
    {
        "id": "3b11d0d807e04bd7",
        "type": "ui_button",
        "z": "763fbf34fa859df2",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/pause_charging",
        "topicType": "str",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "e70235890a84893a"
            ]
        ]
    },
    {
        "id": "b3022e538bcf7876",
        "type": "ui_button",
        "z": "763fbf34fa859df2",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/resume_charging",
        "topicType": "str",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "e70235890a84893a"
            ]
        ]
    },
    {
        "id": "40dc704604910e3e",
        "type": "ui_button",
        "z": "763fbf34fa859df2",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Car Plugin",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/carsim/cmd/execute_charging_session",
        "topicType": "str",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "5ad1679fdc94147f",
                "b5c53eb190f411ef"
            ]
        ]
    },
    {
        "id": "3f14a332ee72034c",
        "type": "ui_button",
        "z": "763fbf34fa859df2",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Stop & Unplug",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/carsim/cmd/modify_charging_session",
        "topicType": "str",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "5ad1679fdc94147f",
                "5726a1e3a1e73097"
            ]
        ]
    },
    {
        "id": "5203ae43aa4ae4c0",
        "type": "ui_dropdown",
        "z": "763fbf34fa859df2",
        "name": "",
        "label": "Car Simulation",
        "tooltip": "",
        "place": "Select option",
        "group": "b364f7eb4621082b",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "AC 3ph 16A",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 16,3;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC 1ph 32A",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 32,1;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC Diode Fail",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 32,3;sleep 5;diode_fail;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC Error E",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 16,3;sleep 3;error_e;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC RCD Error",
                "value": "sleep 1;rcd_current 10.3;sleep 10;rcd_current 0.1#unplug",
                "type": "str"
            },
            {
                "label": "AC ISO 15118",
                "value": "sleep 1;iso_wait_slac_matched;iso_start_v2g_session ExternalPayment,AC_three_phase_core;iso_wait_pwr_ready;iso_draw_power_regulated 16,3;sleep 36000#iso_stop_charging;iso_wait_v2g_session_stopped;unplug",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "sim_commands",
        "topicType": "str",
        "className": "",
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "5ad1679fdc94147f"
            ]
        ]
    },
    {
        "id": "e04c0ddd07db142f",
        "type": "ui_switch",
        "z": "763fbf34fa859df2",
        "name": "",
        "label": "Simulation enable (HIL)",
        "tooltip": "",
        "group": "b364f7eb4621082b",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "everest_external/nodered/carsim/#/cmd/enable",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 170,
        "y": 860,
        "wires": [
            [
                "e70235890a84893a"
            ]
        ]
    },
    {
        "id": "5765d344c97be8bf",
        "type": "ui_text",
        "z": "763fbf34fa859df2",
        "group": "b364f7eb4621082b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current Enforced",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 880,
        "y": 260,
        "wires": []
    },
    {
        "id": "143933915a4622e2",
        "type": "ui_text",
        "z": "763fbf34fa859df2",
        "group": "b364f7eb4621082b",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energy Charged",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "f1b57c4bd4bde094",
        "type": "ui_text",
        "z": "763fbf34fa859df2",
        "group": "b364f7eb4621082b",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Watt Enforced",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "8cd894809b7fdbed",
        "type": "ui_text",
        "z": "763fbf34fa859df2",
        "group": "b364f7eb4621082b",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Watt Requested",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 740,
        "y": 620,
        "wires": []
    },
    {
        "id": "17519da5b8e93cff",
        "type": "ui_text",
        "z": "763fbf34fa859df2",
        "group": "b364f7eb4621082b",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current Requested",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 750,
        "y": 680,
        "wires": []
    },
    {
        "id": "40485fea252a8c7f",
        "type": "ui_gauge",
        "z": "763fbf34fa859df2",
        "g": "2ee18ba9f93137ce",
        "name": "",
        "group": "b364f7eb4621082b",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "Kilowatt",
        "format": "{{value}} kW",
        "min": "-28",
        "max": "28",
        "colors": [
            "#1aa7ff",
            "#04ff00",
            "#ffea00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1150,
        "y": 460,
        "wires": []
    },
    {
        "id": "5397c0031ff5ea31",
        "type": "ui_level",
        "z": "763fbf34fa859df2",
        "group": "b364f7eb4621082b",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "-20",
        "max": "85",
        "segWarn": "65",
        "segHigh": "75",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "d98a07289d58d4bb",
        "type": "comment",
        "z": "a56dcb9bfdbf8a45",
        "name": "Initialize the Connector number",
        "info": "",
        "x": 230,
        "y": 80,
        "wires": []
    },
    {
        "id": "88278585053d1f4a",
        "type": "change",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "connector_number",
                "pt": "flow",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ace1f199ca4a6960",
        "type": "inject",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "88278585053d1f4a"
            ]
        ]
    },
    {
        "id": "c8e7995e6613d707",
        "type": "comment",
        "z": "a56dcb9bfdbf8a45",
        "name": "Data to show",
        "info": "",
        "x": 170,
        "y": 200,
        "wires": []
    },
    {
        "id": "7be42d4fab1e99df",
        "type": "mqtt out",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fc8686af.48d178",
        "x": 890,
        "y": 840,
        "wires": []
    },
    {
        "id": "ec1175db883873cf",
        "type": "change",
        "z": "a56dcb9bfdbf8a45",
        "name": "Insert Connector number",
        "rules": [
            {
                "t": "change",
                "p": "topic",
                "pt": "msg",
                "from": "#",
                "fromt": "str",
                "to": "connector_number",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 840,
        "wires": [
            [
                "7be42d4fab1e99df"
            ]
        ]
    },
    {
        "id": "e6fe3ab7a0ecf199",
        "type": "comment",
        "z": "a56dcb9bfdbf8a45",
        "name": "Commands",
        "info": "",
        "x": 170,
        "y": 640,
        "wires": []
    },
    {
        "id": "99e2668afb9de1a9",
        "type": "mqtt in",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_current",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 280,
        "wires": [
            [
                "d4e87a4727eb962a"
            ]
        ]
    },
    {
        "id": "d4e87a4727eb962a",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 280,
        "wires": [
            [
                "cc923dc7dd8c3ae7"
            ]
        ]
    },
    {
        "id": "aa7528c3ad599d42",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "0df932e309db6ab4"
            ]
        ]
    },
    {
        "id": "b4d1a10252f8c98b",
        "type": "mqtt in",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKWattHr",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 340,
        "wires": [
            [
                "aa7528c3ad599d42"
            ]
        ]
    },
    {
        "id": "8b12a8a505ee7378",
        "type": "mqtt in",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "topic": "everest_external/nodered/+/state/state_string",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 440,
        "wires": [
            [
                "e47c58d7f9a27b48"
            ]
        ]
    },
    {
        "id": "2f225319d19fd3a3",
        "type": "mqtt in",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "topic": "everest_external/nodered/+/powermeter/totalKw",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 500,
        "wires": [
            [
                "85fcf43e5cad3078"
            ]
        ]
    },
    {
        "id": "b621a781a7527022",
        "type": "mqtt in",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "topic": "everest_external/nodered/+/state/temperature",
        "qos": "0",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 560,
        "wires": [
            [
                "83369a6f35009b8c"
            ]
        ]
    },
    {
        "id": "b8c8a52402b50416",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "func": "if (msg.topic.indexOf('totalKw')>=0) {\n    context.data.totalKw = msg.payload;\n}\nelse if (msg.topic.indexOf('state_string')>=0) {\n    context.data.state_string = msg.payload;\n}\n\n//node.warn(msg.topic);\nmsg.payload = context.data.totalKw;\nmsg.label = context.data.state_string;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.data = {}",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 480,
        "wires": [
            [
                "f7562839cbf3a921",
                "627c5bbb1618885b",
                "ea717904aa904586"
            ]
        ]
    },
    {
        "id": "f7562839cbf3a921",
        "type": "debug",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 380,
        "wires": []
    },
    {
        "id": "85fcf43e5cad3078",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 500,
        "wires": [
            [
                "b8c8a52402b50416"
            ]
        ]
    },
    {
        "id": "e47c58d7f9a27b48",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 460,
        "wires": [
            [
                "b8c8a52402b50416"
            ]
        ]
    },
    {
        "id": "83369a6f35009b8c",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 560,
        "wires": [
            [
                "1b504b48aa55361c"
            ]
        ]
    },
    {
        "id": "9105d78f2a19671e",
        "type": "comment",
        "z": "a56dcb9bfdbf8a45",
        "name": "Simulation control",
        "info": "",
        "x": 190,
        "y": 820,
        "wires": []
    },
    {
        "id": "73f83112b6eaf2f1",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "Buffer sim commands",
        "func": "if (msg.topic.indexOf('sim_commands') > -1) {\n    const s = msg.payload.split('#');\n    flow.set('sim_commands_start', s[0]);\n    flow.set('sim_commands_stop', s[1]);\n} else if (msg.payload == 'start') {\n    msg.payload = flow.get('sim_commands_start');\n    return msg;\n} else if (msg.payload == 'stop') {\n    msg.payload = flow.get('sim_commands_stop');\n    return msg;\n} else {\n    msg.payload = 'NONE';\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 960,
        "wires": [
            [
                "ec1175db883873cf",
                "91f4db35a9aee447",
                "8f4f5f086f17ed2e"
            ]
        ]
    },
    {
        "id": "8f4f5f086f17ed2e",
        "type": "debug",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 920,
        "wires": []
    },
    {
        "id": "3bfa937cb62c9707",
        "type": "inject",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "sim_commands",
        "payload": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 16,3;sleep 36000#unplug",
        "payloadType": "str",
        "x": 150,
        "y": 1100,
        "wires": [
            [
                "017ce212f66a5eab"
            ]
        ]
    },
    {
        "id": "91f4db35a9aee447",
        "type": "debug",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 960,
        "wires": []
    },
    {
        "id": "49a5b89ec4dc8b81",
        "type": "mqtt in",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "topic": "everest_external/nodered/+/state/max_watt",
        "qos": "2",
        "datatype": "auto",
        "broker": "fc8686af.48d178",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "13447e29abba1a55"
            ]
        ]
    },
    {
        "id": "13447e29abba1a55",
        "type": "function",
        "z": "a56dcb9bfdbf8a45",
        "name": "Filter connector number",
        "func": "if (msg.topic.indexOf(String(flow.get('connector_number'))) > -1) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 240,
        "wires": [
            [
                "48316f12afb024d1"
            ]
        ]
    },
    {
        "id": "ea717904aa904586",
        "type": "debug",
        "z": "a56dcb9bfdbf8a45",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 320,
        "wires": []
    },
    {
        "id": "51faec902597e77e",
        "type": "ui_slider",
        "z": "a56dcb9bfdbf8a45",
        "name": "MaxWatt Slider",
        "label": "",
        "tooltip": "",
        "group": "21e40a4a97a50168",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_watt",
        "topicType": "str",
        "min": "0",
        "max": "10000",
        "step": "10",
        "className": "",
        "x": 440,
        "y": 640,
        "wires": [
            [
                "ec1175db883873cf",
                "8c0efb109dfe96a1"
            ]
        ]
    },
    {
        "id": "3df9c944724faf03",
        "type": "ui_slider",
        "z": "a56dcb9bfdbf8a45",
        "name": "MaxCurrent Slider",
        "label": "",
        "tooltip": "",
        "group": "21e40a4a97a50168",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_external/nodered/#/cmd/set_max_current",
        "topicType": "str",
        "min": "0",
        "max": "32",
        "step": "0.1",
        "className": "",
        "x": 430,
        "y": 700,
        "wires": [
            [
                "bc663e07cd18f749",
                "ec1175db883873cf"
            ]
        ]
    },
    {
        "id": "617b52cb5fb95d11",
        "type": "ui_slider",
        "z": "a56dcb9bfdbf8a45",
        "d": true,
        "name": "MaxWatt Slider",
        "label": "",
        "tooltip": "",
        "group": "21e40a4a97a50168",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_api/evse_manager/cmd/set_limit_watts",
        "topicType": "str",
        "min": "0",
        "max": "10000",
        "step": "10",
        "className": "",
        "x": 1040,
        "y": 640,
        "wires": [
            [
                "2e058daf0272b7d5"
            ]
        ]
    },
    {
        "id": "ed857aba6a4ed2fe",
        "type": "ui_slider",
        "z": "a56dcb9bfdbf8a45",
        "d": true,
        "name": "MaxCurrent Slider",
        "label": "",
        "tooltip": "",
        "group": "21e40a4a97a50168",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "all",
        "topic": "everest_api/evse_manager/cmd/set_limit_amps",
        "topicType": "str",
        "min": "0",
        "max": "32",
        "step": "0.1",
        "className": "",
        "x": 1030,
        "y": 700,
        "wires": [
            [
                "f3ac6dac3d49c06b"
            ]
        ]
    },
    {
        "id": "b4ded88e72977876",
        "type": "ui_button",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Pause",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/pause_charging",
        "topicType": "str",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "ec1175db883873cf"
            ]
        ]
    },
    {
        "id": "b1cb8fc78b970de7",
        "type": "ui_button",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Resume",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/cmd/resume_charging",
        "topicType": "str",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "ec1175db883873cf"
            ]
        ]
    },
    {
        "id": "7f275e1f5f68cccd",
        "type": "ui_button",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 12,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Car Plugin",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "start",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/carsim/cmd/execute_charging_session",
        "topicType": "str",
        "x": 170,
        "y": 980,
        "wires": [
            [
                "73f83112b6eaf2f1"
            ]
        ]
    },
    {
        "id": "0915b510d5fe7cde",
        "type": "ui_button",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 13,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Stop & Unplug",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "everest_external/nodered/#/carsim/cmd/modify_charging_session",
        "topicType": "str",
        "x": 180,
        "y": 940,
        "wires": [
            [
                "73f83112b6eaf2f1"
            ]
        ]
    },
    {
        "id": "017ce212f66a5eab",
        "type": "ui_dropdown",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "label": "Car Simulation",
        "tooltip": "",
        "place": "Select option",
        "group": "21e40a4a97a50168",
        "order": 15,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "AC 3ph 16A",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 16,3;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC 1ph 32A",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 32,1;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC Diode Fail",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 32,3;sleep 5;diode_fail;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC Error E",
                "value": "sleep 1;iec_wait_pwr_ready;sleep 1;draw_power_regulated 16,3;sleep 3;error_e;sleep 36000#unplug",
                "type": "str"
            },
            {
                "label": "AC RCD Error",
                "value": "sleep 1;rcd_current 10.3;sleep 10;rcd_current 0.1#unplug",
                "type": "str"
            },
            {
                "label": "AC ISO15118-2",
                "value": "sleep 1;iso_wait_slac_matched;iso_start_v2g_session ExternalPayment,AC_three_phase_core;iso_wait_pwr_ready;iso_draw_power_regulated 16,3;sleep 36000#iso_stop_charging;iso_wait_v2g_session_stopped;unplug",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "sim_commands",
        "topicType": "str",
        "className": "",
        "x": 180,
        "y": 1040,
        "wires": [
            [
                "73f83112b6eaf2f1"
            ]
        ]
    },
    {
        "id": "25594ee01394b371",
        "type": "ui_switch",
        "z": "a56dcb9bfdbf8a45",
        "name": "",
        "label": "Simulation enable (HIL)",
        "tooltip": "",
        "group": "21e40a4a97a50168",
        "order": 14,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "everest_external/nodered/carsim/#/cmd/enable",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 210,
        "y": 880,
        "wires": [
            [
                "ec1175db883873cf"
            ]
        ]
    },
    {
        "id": "cc923dc7dd8c3ae7",
        "type": "ui_text",
        "z": "a56dcb9bfdbf8a45",
        "group": "21e40a4a97a50168",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current Enforced",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 920,
        "y": 280,
        "wires": []
    },
    {
        "id": "0df932e309db6ab4",
        "type": "ui_text",
        "z": "a56dcb9bfdbf8a45",
        "group": "21e40a4a97a50168",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Energy Charged",
        "format": "{{msg.payload | number:2}} kWh",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "48316f12afb024d1",
        "type": "ui_text",
        "z": "a56dcb9bfdbf8a45",
        "group": "21e40a4a97a50168",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Watt Enforced",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 910,
        "y": 240,
        "wires": []
    },
    {
        "id": "8c0efb109dfe96a1",
        "type": "ui_text",
        "z": "a56dcb9bfdbf8a45",
        "group": "21e40a4a97a50168",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Watt Requested",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 780,
        "y": 640,
        "wires": []
    },
    {
        "id": "bc663e07cd18f749",
        "type": "ui_text",
        "z": "a56dcb9bfdbf8a45",
        "group": "21e40a4a97a50168",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current Requested",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 770,
        "y": 720,
        "wires": []
    },
    {
        "id": "2e058daf0272b7d5",
        "type": "ui_text",
        "z": "a56dcb9bfdbf8a45",
        "d": true,
        "group": "21e40a4a97a50168",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Watt Requested",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1380,
        "y": 640,
        "wires": []
    },
    {
        "id": "f3ac6dac3d49c06b",
        "type": "ui_text",
        "z": "a56dcb9bfdbf8a45",
        "d": true,
        "group": "21e40a4a97a50168",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Max Current Requested",
        "format": "{{msg.payload | number: 1}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 1370,
        "y": 720,
        "wires": []
    },
    {
        "id": "627c5bbb1618885b",
        "type": "ui_gauge",
        "z": "a56dcb9bfdbf8a45",
        "g": "1fc0485730ba73a5",
        "name": "",
        "group": "21e40a4a97a50168",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "{{msg.label}}",
        "label": "Kilowatt",
        "format": "{{value}} kW",
        "min": "-28",
        "max": "28",
        "colors": [
            "#1aa7ff",
            "#04ff00",
            "#ffea00"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 480,
        "wires": []
    },
    {
        "id": "1b504b48aa55361c",
        "type": "ui_level",
        "z": "a56dcb9bfdbf8a45",
        "group": "21e40a4a97a50168",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature:",
        "colorHi": "#e60000",
        "colorWarn": "#ff9900",
        "colorNormal": "#00b33c",
        "colorOff": "#595959",
        "min": "-20",
        "max": "85",
        "segWarn": "65",
        "segHigh": "75",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "soft",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#eeeeee",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": false,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": 3000,
        "x": 1010,
        "y": 560,
        "wires": []
    }
]